.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Kotlin runtime files
.salive
.kotlin/

### Kotlin DSL scripts and yaml-serialized scripts (located elsewhere, but symlinked to the resource folder)
src/main/resources/triggers
src/main/resources/dsl
src/main/resources/aliases
src/main/resources/hotkeys
src/main/resources/substitutes
src/main/resources/profiles

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code-based editors (Cursor/Windsurf)
.vscode/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store